<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/g.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    {{> header}}
    <div id="test"></div>
    <script src="js/index.js"></script>
</body>
</html>
